body {
    margin: 0;
    padding: 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation {
    background-color: white;    
    transition: top 0.3s;
    position: relative;
    border-bottom: #EDEEF2 solid 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    &__logoImg {
        width: 70px;
        height: 70px;
        object-fit: cover;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    &__liens {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 17px;
    }
    &__blocb {
        display: flex;
        gap: 80px;        
        margin-left: 50px;
    }
    &__link {
        text-decoration: none;
        color: black;
        font-weight: 500;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}


/* Medias queries */

/* Styles pour écran de petite taille (téléphones) */
@media only screen and (max-width: 580px) {
    .navigation__blocb {
        display: none; 
        margin-left: 25px;
    }
    .navigation__logoImg {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (min-width: 511px) and (max-width: 700px) {
    .navigation {
        justify-content: center;
    }
    .navigation__link {
        font-size: 15px;
        
    }
    .navigation__blocb {
        gap: 15px;
        margin-left: 25px;
    }
    .navigation__logoImg {
        width: 50px;
        height: 50px;
    }
}

/* Styles pour écran de taille moyenne (tablettes) */
@media only screen and (min-width: 701px) and (max-width: 1024px) {
    .navigation {
        justify-content: center;       

    }
    .navigation__blocb {
        gap: 40px; 
    }
    .navigation__link {
        font-size: 15px;
        
    }
   
}

/* Styles pour écran de grande taille (ordinateurs) */
@media only screen and (min-width: 1025px) {
    .navigation__link {
        font-size: 20px; 
    }
}