.mentions {
    margin-left: 100px;
    text-align: left;
    margin-top: 70px;
    margin-bottom: 100px;
    &__h1 {
        font-size: 30px;
    }
    &__bloc {
        font-weight: 300;
    }
    &__h2 {
        font-size: 23px;
        font-weight: 300;
    }
    &__text {
        font-size: 23px;
    }
}

/* Media queries pour les différentes tailles d'écran */

/* Taille d'écran <= 768px (téléphones) */
@media only screen and (max-width: 768px) {
    .mentions {
        margin-left: 20px;
        margin-right: 20px;
        &__h1 {
            font-size: 26px;
        }
        &__h2 {
           font-size: 20px; 
        }
        &__text {
            font-size: 18px;
        }
    }
    
}

/* Taille d'écran entre 768px et 1024px (tablettes) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .mentions {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media only screen and (max-width: 480px) {
    .mentions__h1 {
        font-size: 18px;
    }
    .mentions__h2 {
        font-size: 14px;
    }
    .mentions__text {
        font-size: 13px;
    }

}